/* CSS Document */
* {
	margin:0px;
	padding:0px;
	outline:none;
	list-style:none;
}
html, body {
	color:#69686D;
	height:100%;
	min-height:100%;
}
body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	line-height:135%;
	color:#69686D;
	background: #FFFFFF;
	margin: 0 auto;
}
a {
	text-decoration:none;
	color:#00917A;
}
a:hover {
	color:#4E937C;
}
img {
	border:none;
}
.ClearFloat {
	clear:both!important;
	height:0px!important;
	line-height:0px!important;
	font-size:0px!important;
}
.intro {
	color:#B6BF00;
}

.Nav {
	padding:10px;
	margin:0 0 0 0;
}

.Nav #accordion {
	list-style: none;
	padding: 0 0 0 0;
}
.Nav #accordion ul {
	padding:0 0 0 5px !important;
}

.Nav #accordion li {
	display: block;
	cursor: pointer;
	background: none;
	margin:0px 0;
	padding:0px;
	list-style: none;
}
.Nav #accordion ul {
	list-style: none;
	padding: 0 0 0 0;
	display: none;
}
.Nav #accordion ul li {
	font-weight: normal;
	cursor: auto;
}
.Nav #accordion a {
	text-decoration: none;
	cursor: pointer;
	display:block;
	font-weight:bold;
	padding:8px 1px;
	font-size:18px;
	border-top:1px solid #9a9c9c;
}
.Nav #accordion a:hover, .Nav #accordion ul a {
	text-decoration:none;
	color:#B6BF00 !important;
}
.Nav #accordion ul a {
	display:block;
	color:#ccc !important;
	font-weight:normal !important;
	font-size:15px !important;
	padding:1px 1px;
	border:none !important;
}
ul #order li:hover{	
/*text-decoration:underline;*/
color:#B6BF00;
}















